/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2017, 1:44:12 PM
    Author     : yan
*/

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}